:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-image: url("images/BG.png");
  background-repeat: repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-size: x-large;
}
button {
  padding: 10px;
  font-size: large;
  background-color: aquamarine;
  border: 0px;
  border-radius: 5px;
}
#app {
  width: 80%;
  height: 80%;
  background-color: beige;
  margin:auto;
  border-radius: 10px;
  padding: 20px;
}
input {
  height: 40px;
  border: 0px;
  border-radius: 10px;
}
div {
  padding: 20px;
}